extends ../layouts/auth

block content
    link(rel="stylesheet", href="/js/modal/loadmask/jquery.loadmask.spin.css")
    script(src="/js/modal/loadmask/spin.min.js")
    script(src="/js/modal/loadmask/jquery.loadmask.spin.js")
    script(src="/js/custom/spin.settings.js")
    script
        spinStart();
    
    .container-fluid
        .row-fluid
            .span3
            .span6
                .row-fluid
                    .span12
                        h4(style="color: #fff;") Installation #{title} (step 1)
                        .widget-box
                         form.form-horizontal
                          input(type="hidden", name="step", value="1")
                          input(type="hidden", name="overwrite")
                          .widget-title
                            span.icon
                              i.icon-hdd
                            h5 Database
                          .widget-content.nopadding
                              .control-group
                                label.control-label Title
                                .controls
                                  input(type="text", name="title")
                              .control-group
                                label.control-label Host
                                .controls
                                  input(type="text", name="host")
                              .control-group
                                label.control-label Username
                                .controls
                                  input(type="text", name="user")
                                  span.help-block Existing mysql user
                              .control-group
                                label.control-label Password
                                .controls
                                  input(type="password", name="password")
                              .control-group
                                label.control-label Database name (configuration)
                                .controls
                                  input(type="text", name="db_config")
                                  span.help-block Name of database configuration
                              .control-group
                                label.control-label Database name (CDR)
                                .controls
                                  input(type="text", name="db_cdr")
                                  span.help-block Name of database CDR
                              .form-actions
                                button.btn.btn-primary(type='submit') Create New DB
                                span  or 
                                span
                                    a(href="/install/import") Import DB Dump
            .span3
    div(id="modal-dialog", style="display: none;")

    link( rel="stylesheet", href="/css/jquery-ui.css")
    script( src="/js/jquery-ui.custom.js")
    script(src="/js/custom/jquery.validate.custom.js")
    script(src="/js/jquery.validate.additional-methods.js")
    script(src="/js/custom/common.js")
    script(src="/js/custom/default.js")
    script
      var default_values = !{JSON.stringify(default_values)};
      var rules = {
        title: {
            required: true
        },
        host: {
            required: true
        },
        user: {
            required: true
        },
        password: {
            required: true,
            pattern: defParams.install.password_pattern
        },
        db_config: {
            required: true,
        },
        db_cdr: {
            required: true,
            notEqual: 'input[name="db_config"]'
        }
      };
    script(src="/js/custom/install_step1.js")