extends ../layout
block content
    .widget-box(style='min-width: 500px; margin-bottom: 0; margin-top: 0;')
        form.form-horizontal(name='form-basic', method='post')
            input(type='hidden', name='action', value='create')
            input(type='hidden', name='id', value='0')
            .control-group
                label.control-label Name
                .controls.left
                    input.span6(type='text', name='name')
            .control-group(style='border-bottom: 1px solid #ccc;')
                label.control-label Comment
                .controls.left
                    textarea.span6(name='comment')
        script(type = 'text/javascript', src = '/js/custom/loadData.js')
        script(type='text/javascript').
            loadData('app_regexp')
                .then(async data => {
                    // Получаем регулярки из базы
                    let { re_callerid} = data
                    re_callerid = removeFirstAndLastChar(re_callerid)

                    const messages = await loadData('app_regexp_messages')
                    // Получаем сообщения регулярки из базы
                    let { 
                        re_callerid: re_callerid_message
                    } = messages
                    
                    $(document).ready(function() {
                        $('form[name="form-basic"]').validate({
                            errorElement: 'div',
                            rules: {
                                'name': {
                                    required: true,
                                    regexp: new RegExp(re_callerid),
                                    maxlength: 50
                                }
                            },
                            messages: {
                                'name': {
                                    required: "Please enter name",
                                    regexp: re_callerid_message,
                                    maxlength: regexpMessage.max_character
                                }
                            }
                        });

                        $('input').focus(function() {
                            $(this).valid();
                        });
                    });

                })
