extends ../layout
block content
    .widget-box(style='margin-bottom: 0; margin-top: 0; overflow: hidden;')
        form.form-horizontal(method='post')
            input(type='hidden', name='action', value='create')
            input(type='hidden', name='id', value='0')
            .control-group(style='border-bottom: 1px solid #ccc;')
                label.control-label Context/Rule
                .controls.left
                    input(name='item_id', type='text', style='min-width: 300px;')
        script(type='text/javascript').
            var listContexts = getContextsList2();
            select2Input('input[name="item_id"]', {data: listContexts}, false, false);
            $('input[name="item_id"]').select2('close');
