extends ../layout_extensions
block content
    script(type='text/javascript').
        var currentValidate = [];//{rules: {}, messages: {}};

    .widget-box(style='min-width: 500px; margin-bottom: 0; margin-top: 0;')
        ul.nav.nav-tabs
            li.active
                a(href='#tab1', data-toggle='tab') Basic
            li
                a(href='#tab2', data-toggle='tab') Call Forward
            li
                a(href='#tab3', data-toggle='tab') Provisining
        .widget-content.tab-content
            #tab1.tab-pane.active
                form.form-horizontal(name='form-basic', action='/data/extensions/save_ext', method='post')
                    input(type='hidden', name='action', value='create')
                    input(type='hidden', name='id_ext', value=req_params.id_ext)
                    .control-group
                        label.control-label Internal Number
                        .controls.left
                            input.span6(type='text', name='ext')
                    .control-group
                        label.control-label Name
                        .controls.left
                            input.span6(type='text', name='ext_name')
                    .control-group
                        label.control-label Password
                        .controls.left
                            input#secret.span6(type='text', name='secret')
                            a#generatePassword.btn.btn-small(data-clipboard-target='secret')
                                i.icon-refresh
                                | generate
                    .control-group
                        label.control-label Template
                        .controls.left
                            input.input-select2(name='ext_template', style='width: 82%;')
                    .control-group
                        label.control-label Context
                        .controls.left
                            input.input-select2(name='context', style='width: 82%;')
            #tab2.tab-pane
                form(name='form-advanced', action='/data/extensions/save_redirect', method='post')
                    input(type='hidden', name='action', value='create')
                    input(type='hidden', name='id_ext', value=req_params.ext)
                    .form-horizontal
                        .control-group
                            label.control-label Ring time No Answer
                            .controls.left
                                input(type='text', name='ringtime')
                        .control-group
                            label.control-label Redirect Number
                            .controls.left
                                input(type='text', name='redirect_number')
                        .control-group
                            label.control-label CLID
                            .controls.left
                                input(type='text', name='clid', style='width: 82%;')
                        .control-group
                            label.control-label Redirect Context
                            .controls.left
                                input.input-select2(name='redirect_context', style='width: 82%;')
                        .control-group
                            label.control-label Redirect Reason
                            .controls.left
                                input.input-select2(name='redirect_reason', style='width: 82%;')
            #tab3.tab-pane
                form(name='form-provisining', action='/data/extensions/save_provisining', method='post')
                    input(type='hidden', name='action', value='create')
                    input(type='hidden', name='id_ext', value=req_params.ext)
                    .form-horizontal
                        .control-group
                            label.control-label MAC
                            .controls.left
                                input(type='text', name='mac', placeholder='xxxxxxxxxxxx')
                        .control-group
                            label.control-label Manufacturer and Model
                            .controls.left
                                input.input-select2(name='manufacturer_model', style='width: 82%;')
        script(type = 'text/javascript', src = '/js/custom/loadData.js')
        script(type='text/javascript').
            var contextsList = getContextsList('all');;
            var templatesList = getTemplatesList();

            var listRedirectReason = {data: [{id: 'All', text: 'All'}, {id: 'Busy', text: 'Busy'}, {id: 'NoAnswer', text: 'NoAnswer'}]};

            var manufacturerList = {data: [{id: 'Disabled', text: 'Disabled'},
                {id: 'aastra', text: 'aastra 4XX 6XX 9XX'},
                {id: 'cisco', text: 'cisco 79XX 89XX'},
                {id: 'cisco-spa', text: 'cisco spa1XX spa3XX spa5XX'},
                {id: 'digium', text: 'digium dXX'},
                {id: 'fanvil', text: 'fanvil-xXX'},
                {id: 'grandstream', text: 'grandstream-dp7XX'},
                {id: 'htek-uc903', text: 'htek-uc9XX'},
                {id: 'qipp', text: 'QIPP 100P 300P 400PG 500PG'},
                {id: 'linksys', text: 'linksys spaXXX'},
                {id: 'panasonic', text: 'panasonic-tgp5XX'},
                {id: 'polycom', text: 'polycom-XXX'},
                {id: 'snom', text: 'snom-XXX'},
                {id: 'yealink', text: 'yealink-tXXp'},
            ]};


            select2Input('input[name="context"]', {data: contextsList}, false, false);
            select2Input('input[name="redirect_context"]', {data: contextsList}, false, false);
            select2Input('input[name="ext_template"]', {data: templatesList}, false, false);
            select2Input('input[name="redirect_reason"]', listRedirectReason, true, true);
            select2Input('input[name="manufacturer_model"]', manufacturerList, false, false);

            $('#generatePassword').click(function () {
                $('input[name="secret"]').val(getRandomPassword());
            });

            $(document).ready(function () {
                loadData('app_regexp')
                    .then(async data => {
                        // Получаем регулярки из базы
                        let { re_number, re_callerid} = data
                        re_number = removeFirstAndLastChar(re_number)
                        re_callerid = removeFirstAndLastChar(re_callerid)

                        const messages = await loadData('app_regexp_messages')
                        // Получаем сообщения регулярки из базы
                        let { 
                            re_callerid: re_callerid_message, 
                            re_number: re_number_message
                        } = messages

                        $('form[name="form-basic"]').validate({
                            errorElement: 'div',
                            rules: {
                                'ext': {
                                    required: true,
                                    regexp: new RegExp(re_number),
                                    maxlength: 78
                                },
                                'ext_name': {
                                    required: true,
                                    regexp: new RegExp(re_callerid),
                                    maxlength: 256 
                                },
                                'secret': { required: true },
                                'ext_template': { required: true },
                                'context': { required: true }
                            },
                            messages: {
                                'ext': {
                                    required: "Please enter internal number",
                                    regexp: re_number_message,
                                    maxlength: 'Maximum field value - 30 characters'
                                },
                                'ext_name': {
                                    required: "Please enter Name",
                                    regexp: re_callerid_message,
                                    maxlength: regexpMessage.max_character
                                },
                                'secret': {
                                    required: "Please enter password"
                                },
                                'ext_template': {
                                    required: "Template can not be empty"
                                },
                                'context': { required: "Context can not be empty" }
                            }
                        });
                    })

                $('form[name="form-advanced"]').validate({
                    errorElement: 'div',
                    rules: {
                        'ringtime': { required: true },
                        'redirect_number': { required: true },
                        'clid': { required: true },
                        'redirect_context': { required: true },
                        'redirect_reason': { required: true },
                    },
                    messages: {
                        'ringtime': { required: "Ringtime can not be empty" },
                        'redirect_number': { required: "Redirect number can not be empty" },
                        'clid': { required: "CLID can not be empty" },
                        'redirect_context': { required: "Redirect context can not be empty" },
                        'redirect_reason': { required: "Redirect reason can not be empty" },
                    }
                });


                $('form[name="form-provisining"]').validate({

                    errorElement: 'div',
                    rules: {
                        'mac': {
                            required: true,
                            remote: {
                                url: '/data/extensions/validate_mac_address',
                                type: 'POST',
                                    data: {
                                        id: function() {
                                            return $('input[name="id_ext"]').val();
                                        }
                                    }
                            }
                        },
                        'manufacturer_model': { required: true }
                    },
                    messages: {
                        'mac': {
                            required: "Please enter mac 3",
                            remote: '!!!!!!!'
                        },
                        'manufacturer_model': { required: "Manufacturer and Model can not be empty" }
                    }
                });
            });

            fillFormSimple2('/data/extensions/load_ext', $('input[name="id_ext"]').val());
        script(type = 'text/javascript', src = '/js/custom/jquery.validate.focus.js')
        script(type = 'text/javascript', src = '/js/custom/loadData.js')
