extends ../layout_extensions

block content
    .widget-box(style='min-width: 500px; margin-bottom: 0; margin-top: 0;')
        ul.nav.nav-tabs
            li.active
                a(href='#tab1', data-toggle='tab') Basic
            li
                a(href='#tab2', data-toggle='tab') Call Forward
            li
                a(href='#tab3', data-toggle='tab') Provisining
        .widget-content.tab-content
            #tab1.tab-pane.active
                form.form-horizontal(name='form-basic', action='/data/extensions/save_ext', method='post')
                    input(type='hidden', name='action', value='create')
                    input(type='hidden', name='id_ext', value=req_params.id_ext)
                    .control-group
                        label.control-label Internal Number
                        .controls.left
                            input.span6(type='text', name='ext')
                    .control-group
                        label.control-label Name
                        .controls.left
                            input.span6(type='text', name='ext_name')
                    .control-group
                        label.control-label Password
                        .controls.left
                            input#secret.span6(type='text', name='secret')
                            a#generatePassword.btn.btn-small(data-clipboard-target='secret')
                                i.icon-refresh
                                | generate
                    .control-group
                        label.control-label Template
                        .controls.left
                            input.input-select2(name='ext_template', style='width: 82%;')
                    .control-group
                        label.control-label Context
                        .controls.left
                            input.input-select2(name='context', style='width: 82%;')
            #tab2.tab-pane
                form(name='form-advanced', action='/data/extensions/save_redirect', method='post')
                    input(type='hidden', name='action', value='create')
                    input(type='hidden', name='id_ext', value=req_params.id_ext)
                    .form-horizontal
                        .control-group
                            label.control-label Ring time No Answer
                            .controls.left
                                input(type='text', name='ringtime', value='15')
                        .control-group
                            label.control-label Redirect Number
                            .controls.left
                                input(type='text', name='redirect_number')
                        .control-group
                            label.control-label CLID
                            .controls.left
                                input(type='text', name='clid', style='width: 82%;')
                        .control-group
                            label.control-label Redirect Context
                            .controls.left
                                input.input-select2(name='redirect_context', style='width: 82%;')
                        .control-group
                            label.control-label Redirect Reason
                            .controls.left
                                input.input-select2(name='redirect_reason', style='width: 82%;')
            #tab3.tab-pane
                form(name='form-provisining', action='/data/extensions/save_provisining', method='post')
                    input(type='hidden', name='action', value='create')
                    input(type='hidden', name='id_ext', value=req_params.ext)
                    .form-horizontal
                        .control-group
                            label.control-label MAC
                            .controls.left
                                input(type='text', name='mac', placeholder='xxxxxxxxxxxx')
                        .control-group
                            label.control-label Manufacturer and Model
                            .controls.left
                                input.input-select2(name='manufacturer_model', style='width: 82%;')
        script(type = 'text/javascript', src = '/js/custom/loadData.js')
        script(type='text/javascript').
            var contextsList = getContextsList('all');
            var templatesList = getTemplatesList();
            //var listRedirectReason = {selected: 0, data: [{id: 'All', text: 'All'}, {id: 'Busy', text: 'Busy'}, {id: 'NoAnswer', text: 'NoAnswer'}]};
            //list.push({id: el.id, text: el.name});

            select2Input('input[name="redirect_context"]', {data: contextsList}, false, false);
            select2Input('input[name="context"]', {data: contextsList}, false, false);
            select2Input('input[name="ext_template"]', {data: templatesList}, true, false);
            select2Input('input[name="redirect_reason"]', listRedirectReason, true, true);
            select2Input('input[name="manufacturer_model"]', manufacturerList, false, false);

            $('input[name="id_ext"]').val(currentRow.extid);

            $('#generatePassword').click(function () {
                $('input[name="secret"]').val(getRandomPassword());
            });

            //fill form
            fillFormSimple('/data/extensions/load_ext', currentRow.extid);
            loadData('app_regexp')
                .then(async data => {
                    // Получаем регулярки из базы
                    let { re_callerid, re_number} = data
                    re_callerid = removeFirstAndLastChar(re_callerid)
                    re_number = removeFirstAndLastChar(re_number)

                    const messages = await loadData('app_regexp_messages')
                    // Получаем сообщения регулярки из базы
                    let { 
                        re_callerid: re_callerid_message, 
                        re_number: re_number_message
                    } = messages

                    $(document).ready(function () {
                        $('form[name="form-basic"]').validate({
                            errorElement: 'div',
                            rules: {
                                'ext': {
                                    required: true,
                                    regexp: new RegExp(re_number),
                                    maxlength: 50
                                },
                                'ext_name': {
                                    required: true,
                                    regexp: new RegExp(re_callerid),
                                    maxlength: 30
                                }
                            },
                            messages: {
                                'ext': {
                                    required: "Please enter internal number",
                                    regexp: re_number_message,
                                    maxlength: 'Maximum field value - 30 characters'
                                },
                                'ext_name': {
                                    required: "Please enter Name",
                                    regexp: re_callerid_message,
                                    maxlength: regexpMessage.max_character
                                }
                            }
                        });

                        $('form[name="form-provisining"]').validate({
                            errorElement: 'div',
                            rules: {
                                'mac': {
                                    remote: {
                                        url: '/data/extensions/validate_mac_address',
                                        type: 'POST',
					data: {
					    id: function() {
						return $('input[name="id_ext"]').val();
					    }
					}
                                    }
                                }
                            },
                            messages: {
                                'mac': {
                                    required: "Please enter mac 2",
                                    remote: '!!!!!!!'
                                }
                            }
                        });
                    });
                })  
        script(type='text/javascript', src='/js/custom/jquery.validate.focus.js')
