extends layouts/callflows

block content
    include includes/header-nav

    include includes/sidebar

    //include includes/style-switcher
    
    //#modal-dialog
    
    #item-switcher
        #switcher
            i.icon-arrow-left.icon-white.menu-toogle
        #switcher-title
            span Items
        .item-box

    #content
        include includes/content-header
        p( style='margin:5px;')
            button(data-action='save_conf', class="btn btn-success tip-bottom", type="button", title='Save Callflow', style="margin-right: 5px;") Save
            button( data-action='view_conf', class="btn btn-info tip-bottom", type="button", title='View assembled dialplan', style="margin-right: 5px;") View Dialplan
            // button( data-action='view_json', class="btn btn-info tip-bottom", type="button", title='View result json for debug version only' ) View JSON

        .container-fluid
            #callflow.callflow(style="width: 95%; overflow-x: scroll;")

        #myModal.modal.hide.fade
            form.form-horizontal
                .modal-header
                    button( data-dismiss="modal", class="close", type="button", aria-hidden="true") ×
                    h3
                .modal-body
                .modal-footer
                    a( data-dismiss="modal", class="btn", href="#") Cancel
                    button( class="btn btn-primary", type="submit") Confirm
    include includes/footer

    style
        .table-hover tbody > tr:hover > td {
            background-color: #f5f5f5;
        }
        .table-hover tbody > tr.row_selected > td {background: #f5f5f5;}
    style
        .table-hover tbody > tr:hover > td {
            background-color: #f5f5f5;
        }
            .table-hover tbody > tr.row_selected > td {background: #f5f5f5;}
            .daterangepicker{
            z-index:99999999 !important;
        }
        .select2-drop{
        z-index:999999999 !important;
        }

    script( src="/js/jquery.uniform.js")
    script( src="/js/jquery.validate.js")
    script( src="/js/select2_3.4.min.js")
    script( src="/js/modal/ace/ace.js")
    script( src="/js/bootstrap.file-input.js")
    script( src="/js/callflow.js")
    script( src="/js/callflow.block.js")
    script( src="/js/callflow.module.js")
    script( src="/js/callflow.block.custom.js")
    script( src="/js/fullcalendar.min.js")
    script( src="/js/moment.min.js")
    script( src="/js/daterangepicker.js")

    script( src="/js/callflows/index.js")

    link(rel="stylesheet", href="/css/fullcalendar.css")
    link(rel="stylesheet", href="/js/daterangepicker-bs2.css")


    script
        getPath('rules');

        // Показать анамацию спиннера
        $('body').mask(opts);
        
        // Загружаем классы блоков
        const ruleId = #{itemId}
        loadBlocks(() => getJsonTree(ruleId))
