//-
  script(type='text/javascript', src='/js/jquery.validate.js')
  script(type='text/javascript', src='/js/modal/common.js')
  script(type='text/javascript', src='/js/modal/data_default.js')
  script(type='text/javascript', src='/js/modal/ace/ace.js')
  script(type='text/javascript', src='/js/modal/trunk/common.js')
-//

script(type = 'text/javascript', src = '/js/custom/loadData.js')
script(type='text/javascript', src='/js/modal/trunk/common.js')

block content
