extends ../layout
block content
    .widget-box(style='min-width: 500px; margin-bottom: 0; margin-top: 0;')
        .tab-pane.active
            .form-horizontal
                form(name='form-basic', method='post')
                    input(type='hidden', name='id', value='0')
                    input(type='hidden', name='action', value='create')
                    input(type='hidden', name='context_id', value='')
                    .control-group
                        label.control-label Name
                        .controls.left
                            input.span6(type='text', name='name')
                    .control-group
                        label.control-label Pattern
                        .controls.left
                            input.span6(type='text', name='mask')
                    .control-group(style='border-bottom: 1px solid #ccc;')
                        label.control-label Comment
                        .controls.left
                            textarea.span6(name='comment')
        script(type = 'text/javascript', src = '/js/custom/loadData.js')
        script(type='text/javascript').
            $('input[name="context_id"]').val(itemId);
            
            (async function() {
                const regs = await loadData('app_regexp')
                // Получаем регулярки из базы
                let { re_category, re_pattern} = regs
                re_category = removeFirstAndLastChar(re_category)
                re_pattern = removeFirstAndLastChar(re_pattern)

                const messages = await loadData('app_regexp_messages')
                // Получаем сообщения регулярки из базы
                 let { re_category: re_category_message, re_pattern: re_pattern_message} = messages

                $(document).ready(function () {                
                    $('form[name="form-basic"]').validate({
                        errorElement: 'div',
                        rules: {
                            'name': {
                                required: true,
                                regexp: new RegExp(re_category),
                                maxlength: 78,
                            },
                            'mask': {
                                required: true,
                                regexp: new RegExp(re_pattern),
                                maxlength: 999999,
                            },
                        },
                        messages: {
                            'name': {
                                required: "Please enter name",
                                regexp: re_category_message,
                                maxlength: rulesRegExpMessage.max_character
                            },
                            'mask': {
                                required: "Please enter pattern",
                                regexp: re_pattern_message,
                                maxlength: rulesRegExpMessage.max_character
                            }
                        }
                    });
                })

                $('input').focus(function () {
                    $(this).valid();
                });
            })()
